@(list: String)
<!DOCTYPE html>
<html>
<head>
    <title>@list</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <form method="POST" action="">
        <p>Create your item
        <p>Task: <input type="text" name="title"/>
        Description: <input type="text" name="description"/>
		<button>Add</button>
	</form>

    </body>
</html>